<!-- 修改密码页 -->
<div class="base-info-page">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list">
            <li><i>修改密码</i></li>
        </ul>
    </div>
    <div class="chPwd">
        <form class="ant-form ant-form-horizontal" action="/index/index/changePasswordAction">
            <!-- <div class="control-group">
                <label class="control-label">原密码</label>
                <div class="controls">
                    <input type="text" name="old">
                    <span class="help-inline">Username is already taken</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">新密码</label>
                <div class="controls">
                    <input type="text" name="newpwd">
                    <span class="help-inline">Username is already taken</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">确认密码</label>
                <div class="controls">
                    <input type="text" name="repeat">
                    <span class="help-inline">两次输入密码不一致</span>
                </div>
            </div>
            <button type="submit" class="btn">提交</button> -->

            <div class="ant-row ant-form-item">
                <div class="ant-col-4 ant-form-item-label">
                    <label class="" title="原密码">原密码</label>
                </div>
                <div class="ant-col-14 ant-form-item-control-wrapper">
                    <div class="ant-form-item-control ">
                        <input type="password" name="old" class="ant-input ant-input-lg &amp;">
                        <span style="color: red;"></span>
                    </div>
                </div>
            </div>
            <div class="ant-row ant-form-item">
                <div class="ant-col-4 ant-form-item-label">
                    <label class="" title="新密码">新密码</label></div>
                <div class="ant-col-14 ant-form-item-control-wrapper">
                    <div class="ant-form-item-control ">
                        <input type="password" name="newpwd" class="ant-input ant-input-lg &amp;">
                        <span style="color: red;"></span>
                    </div>
                </div>
            </div>
            <div class="ant-row ant-form-item">
                <div class="ant-col-4 ant-form-item-label">
                    <label class="" title="确认密码">确认密码</label></div>
                <div class="ant-col-14 ant-form-item-control-wrapper">
                    <div class="ant-form-item-control ">
                        <input type="password" name="repeat" class="ant-input ant-input-lg &amp;">
                        <span style="color: red;"></span>
                    </div>
                </div>
            </div>
            <div class="ant-row ant-form-item">
                <div class="ant-col-14 ant-col-offset-4 ant-form-item-control-wrapper">
                    <div class="ant-form-item-control ">
                        <button type="button" class="ant-btn ant-btn-primary ant-btn-lg submit-btn">
                            <span>修改密码</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var changePawPage = {
        init: function() {
            this.repeatPwdChange();
            this.submitClick();
        },
        repeatPwdChange: function() {
            $("input[name=repeat]").blur(function() {
                var pwd = $("input[name=newpwd]").val();
                var repeatPwd = $(this).val();
                //  console.log(pwd, repeatPwd);
                if (pwd !== repeatPwd) {
                    $(this).parents(".ant-form-item-control").find("span").text("两次输入密码不一致");
                } else {
                    $(this).parents(".ant-form-item-control").find("span").text("");
                }
            })
        },
        submitClick: function() {
            $(".submit-btn").click(function(e) {
                var event = e || window.event;
                if (e.preventDefault) {
                    event.preventDefault();
                } else {
                    event.returnValue = false;
                }
                var oldPwd = $("input[name=old]").val();
                var pwd = $("input[name=newpwd]").val();
                var repeatPwd = $("input[name=repeat]").val();
                if (!oldPwd || !pwd) {
                    layer.msg("请填写完善后提交修改密码");
                    return false;
                }
                if (pwd.length < 8) {
                    layer.msg("请输入长度大于等于8位的登录密码");
                    return false;
                }
                if (pwd !== repeatPwd) {
                    layer.msg("两次输入密码不一致");
                    return false;
                }

                //  console.log(oldPwd, pwd, repeatPwd);
                layer.load();
                $.ajax({
                    url: '/index/index/changePasswordAction',
                    type: 'POST',
                    dataType: 'json',
                    // 当前修改用户id及 用户组id数组
                    data: {
                        current_password: oldPwd,
                        newpassword: pwd
                    },
                    complete: function(xhr, textStatus) {
                        //called when complete
                    },
                    success: function(res, textStatus, xhr) {
                        //  console.log(res);
                        layer.closeAll('loading');
                        // TODO 判断修改密码返回
                        if (res.status != 1) {
                            var msg = typeof res.data == "string" ? res.data : "修改失败"
                            layer.msg(msg);
                            return false;
                        }
                        layer.msg("修改成功");
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        //  console.log("error");
                        layer.closeAll('loading');
                        layer.msg("服务端错误")
                    }
                });
            })
        }
    };
    $(function() {
        changePawPage.init();
    })
</script>