{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CETC元器件数据平台</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/reset.css" />
    <link rel="stylesheet" href="/static/assets/css/login.css" />

</head>

<body style="background: rgb(59, 123, 220);height:100%;">
    <div class="AppView">
        <div class="login">
            <div class="center-block form-horizontal">
                <h2 class="col-md-12 text-center">欢迎登录足球博客平台</h2>
                <div class=" col-md-12">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">账号：</label>
                        <div class="controls">
                            <input type="text" id="account" placeholder="请输入账号">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">密码：</label>
                        <div class="controls">
                            <input type="password" id="pwd" placeholder="请输入密码">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <button type="submit" name="login" class="btn submit-btn">登录</button>
                </div>
                <p class="text-center support">赛思库提供技术支持www.cissdata.com</p>
            </div>
        </div>
    </div>
    <script src="/static/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/layer/layer.js"></script>
    <script src="/static/assets/js/login.js"></script>
</body>

</html>