<!-- EDA 数据修改审核详情页 -->
<div class="component-detail-box component-edit-page">
    <input type="hidden" value="{$review.id}" name="review_id">

    <div class="classify-page">
        <div class="component-detail-breadcrumbs">
            <span class="component-detail-breadcrumbs-item">
                                        <a href="/index/eda/review_list">EDA修改审核 </a>
                                    </span>

            <i class="iconfont">&gt;</i>
            <span class="component-detail-breadcrumbs-item">
                                        {$component.specification_model_no|default='--'}
                                    </span>
        </div>
        <p class="submit-state clearfix"><span class="orange pull-left"> 修改原因: {$review.reason|default='无'}</span></p>
        <div>
            <div class="component-detail-tabs">
                <div style="height: auto; overflow: auto;">
                    <div style="height: inherit; overflow-x: hidden; overflow-y: auto;">
                        <table class="review-table">
                            <thead>
                                <tr>
                                    <th>
                                        <span></span>
                                    </th>
                                    <th>
                                        <span>修改前</span>
                                    </th>
                                    <th>
                                        <span>修改后</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="review-tbody" style="height: inherit;">
                                <tr>
                                    <td>
                                        <span>物资编码</span>
                                    </td>
                                    <td>
                                        <span>{$component.serial_no}</span>
                                    </td>
                                    <td>
                                        <span>{$review.component_sn}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>符号名称</span>
                                    </td>

                                    <td>
                                        {empty name="component.eda_lib_ref"} 无 {else/}
                                        <span>{$component.eda_lib_ref}</span> {/empty}
                                    </td>
                                    <td>
                                        {empty name="review.eda_lib_ref"} 无 {else/}
                                        <span>{$review.eda_lib_ref}</span> {/empty}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        原理图符号文件
                                        <input type="hidden" name="lib_name" value="{$component.lib_name | default=''}">
                                    </td>
                                    <td>
                                        {empty name="component.eda_lib_path"} 无 {else/}
                                        <a href="/eda/{$component.eda_lib_path}" target="_blank" download>{$component.eda_lib_path}</a> {/empty}
                                    </td>
                                    <td>
                                        {empty name="review.eda_lib_path"} 无 {else/}
                                        <a href="/eda/{$review.eda_lib_path}" target="_blank" download>{$review.eda_lib_path}</a> {/empty}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>封装名称</span>
                                    </td>
                                    <td>
                                        {empty name="component.eda_footprint_ref"} 无 {else/}
                                        <span>{$component.eda_footprint_ref}</span> {/empty}
                                    </td>
                                    <td>
                                        {empty name="review.eda_footprint_ref"} 无 {else/}
                                        <span>{$review.eda_footprint_ref}</span> {/empty}
                                    </td>
                                </tr>
                                <tr style="height: 48px;">
                                    <td>
                                        封装库文件
                                        <input type="hidden" name="footprint_name" value="{$component.footprint_name | default=''}">
                                    </td>
                                    <td>
                                        {empty name="component.eda_footprint_path"} 无 {else/}
                                        <a href="/eda/{$component.eda_footprint_path}" target="_blank" download>{$component.eda_footprint_path}</a> {/empty}
                                    </td>
                                    <td>
                                        {empty name="review.eda_footprint_path"} 无 {else/}
                                        <a href="/eda/{$review.eda_footprint_path}" target="_blank" download>{$review.eda_footprint_path}</a> {/empty}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="edit-btn-box" style="text-align: center; margin: 10px 0px;">
                <button type="button" class="ant-btn ant-btn-primary submit-pass" style="width: 130px; height: 40px; margin-right: 30px; background-color: rgb(59, 123, 220);">
                    <span>审核通过</span>
                </button>
                <button type="button" class="ant-btn ant-btn-primary  btn-no-pass" style="width: 130px; height: 40px; margin-right: 10px; background-color: rgb(248, 248, 248); color: rgb(59, 123, 220);">
                    <span>审核不通过</span>
                </button>
            </div>
            <!-- react-empty: 1583 -->
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">确定审核通过？
        </h3>
    </div>
    <div class="modal-body">
        <p>确定审核后，将覆盖原数据，是否确定审核通过</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary submit-pass">确定</button>
    </div>
</div>
<!-- Modal -->
<div id="noPassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">请输入不通过原因
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-box text-center">
            <textarea name="remark" id="remark" rows="3" placeholder="请输入审核不通过原因"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary submit-no-pass">确定</button>
    </div>
</div>


<script>
    $(function() {
        var reviewDetailPage = {
            init: function() {
                this.noPassClick();
                this.passClick();
                this.showLight();
                this.submitNoPass();
                this.submitPass();
            },
            // 高亮显示不同
            showLight: function() {
                var $tr = $(".review-tbody tr");
                for (var i = 0; i < $tr.length; i++) {
                    var thisTr = $($tr[i]);
                    var $td1 = $(thisTr.find("td")[1]).html().trim();
                    var $td2 = $(thisTr.find("td")[2]).html().trim();
                    if ($td1 != $td2) {
                        thisTr.addClass("active");
                    }
                }
            },
            // 不通过点击事件
            noPassClick: function() {
                $(".btn-no-pass").click(function() {
                    $("#noPassModal").modal("show");
                    // console.log(name);
                });
            },
            // 通过按钮点击事件
            passClick: function() {
                var that = this;
                $(".btn-pass").click(function() {
                    //console.log("审核通过");

                    $("#myModal").modal("show");
                })
            },
            // 通过确定点击事件
            submitPass: function() {
                var that = this;
                $(".submit-pass").click(function() {

                    that.ajaxReq("通过")
                })
            },
            submitNoPass: function() {
                var that = this;
                $(".submit-no-pass").click(function() {
                    var msg = $("#remark").val()
                    that.ajaxReq("不通过", msg)
                })
            },
            ajaxReq: function(status, remark) {
                layer.load();
                var params = {};
                var id = $("input[name=review_id]").val();
                var lib_name = $("input[name=lib_name]").val();
                var footprint_name = $("input[name=footprint_name]").val();
                params.id = id;
                params.status = status;
                params.lib_name = lib_name;
                params.footprint_name = footprint_name;
                if (remark) {
                    params.remark = remark;
                }
                $.ajax({
                    url: '/index/eda/reviewAction',
                    type: 'POST',
                    dataType: '',
                    data: params,
                    success: function(res, textStatus, xhr) {
                        layer.closeAll('loading');
                        //  console.log(res);
                        if (res.status != 1) {
                            layer.msg(res.data);
                            return false;
                        }
                        layer.msg("提交成功");
                        setTimeout(function() {
                            window.history.go(-1)
                        }, 500)

                    },
                    error: function(xhr, textStatus, errorThrown) {
                        //  console.log("error");
                        layer.closeAll('loading');
                        layer.msg("服务端错误")
                    }
                });
            }
        };
        reviewDetailPage.init();
    })
</script>